body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather' , serif;
    color: #40514e;
}
h1{
    font-size:5rem;
    margin-top: 70px;
    font-family: 'Sacremento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Sacremento', sans-serif;
    font-size: 2.5em;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Sacremento', sans-serif;
    color: #11999E;
}

.top-container{
    background-color: #A5F1E9;
    height:700px;
    padding: 20px;
    
}
.middle-container{
    margin: 100px 0;
}

.bottom-container{

    background-color: #66BFBF;
    padding: 50px 0 50px 0;
}

.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 3;

}

.buttom-cloud{
    position:absolute;
    left:300px;
    top:250px;
}
a{
    color:#11999E;
    font-family: 'Sacremento', sans-serif;
    margin : 5px 10px 5px 10px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.top-cloud{
    position:absolute;
    top:30px;
    right:300px;
}
.mountain{
    position:absolute;
    left:450px;
    top:350px;
}
.Sof{
    width: 25%;
    float: left;
    margin-right: 30px;

}
.Cer{
    width: 25%;
    float: right;
     margin-left: 30px;
}
hr{
    border:dotted #EAF6F6 6px;
    border-bottom: none;
    width:10%;
    margin: 100px auto;
}
.contact-message{
    margin: 50px auto 50px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Sacremento', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright-message{
    color: #EAF6F6;
    font-size: 0.750rem;
    margin: 20px;
  }


